<h1>Doctor <%= @doctor.name %></h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Current Hospital: <%= @doctor.hospital.name %></p>
<p>Patients:</p>
<% @doctor.patients.each do |patient| %>
<ol type = '1'>
  <section id='patient-<%= patient.id %>'>
    <li><%= patient.name %>
      <%= form_tag "/doctors/#{@doctor.id}", method: :patch do %>
        <%= hidden_field_tag :patient_id, patient.id %>
        <%= submit_tag 'Remove Patient' %></li>
        <% end %>
  </section>
</ol>
<% end %>
